# Logs
logs/
*.log
log/

# Maven files
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

# IDE settings
.idea/
*.iml
*.class

# OS files
.DS_Store
Thumbs.db

# Test reports
test-output/

# Environment variables
.env

# Application properties (secure sensitive information)
application.properties
application.yml

# Dependency cache
.gradle/
build/
node_modules/

